.venv/
/.idea
*.pyc
latest_brawler_data.json
test.py
debug_frames/
venv/
/dist
/build
main.spec
PylaAI.zip
start.bat
run.py
stuff_to_copy_paste/
test2.py
/cfgs_and_internal
scrcpy.zip
pyla-v0.8.13.zip
