asyncio~=3.4.3
aiohttp~=3.12.13
customtkinter~=5.2.2
opencv-python~=4.11.0.86
numpy~=2.3.0
onnxruntime-directml
pyautogui~=0.9.54
requests~=2.32.4
toml~=0.10.2
pillow~=11.2.1
discord.py
shapely~=2.1.1
packaging~=25.0
pywin32
easyocr~=1.7.2
scrcpy-client@git+https://github.com/leng-yue/py-scrcpy-client.git@v0.5.0
adbutils~=2.12.0
av~=12.3.0